In [1]:
a = "hacktiv8"
print(a)
print(type(a))

hacktiv8
<class 'str'>

In [2]:
a = 8
print(a)
print(type(a))

8
<class 'int'>

In [4]:
a = "8"
print(a)
print(type(a))

8
<class 'str'>

In [5]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [6]:
print('This string contains a single quote (') character.')

SyntaxError: invalid syntax (Temp/ipykernel_2300/1099109788.py, line 1)

In [7]:
print('This string contains a single quote (\') character.')

print("This string contains a double quote (\") character.")

This string contains a single quote (') character.
This string contains a double quote (") character.

In [8]:
a = 30
a
b = 20
b

20

In [9]:
print(123123123123123123123 + 1)

123123123123123123124

In [11]:
print(4.2)
print(type(4.2))
print(4.)
print(.4)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.4
4000000.0
0.00042

In [12]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [13]:
n = 300
print(n)

300

In [14]:
n

300

In [15]:
n = 1000
print(n)

1000

In [16]:
n

1000

In [17]:
a = b = c = 300
print(a, b, c)

300 300 300

In [18]:
var = 24.5
print(var)

var = "Now I'am a String"
print(var)

24.5
Now I'am a String

In [19]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [20]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (Temp/ipykernel_2300/687628429.py, line 1)

In [21]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe , AGE , a_g_e , _age , age_ , _AGE_)

1 2 3 4 5 6 7 8

In [22]:
a = 10
b = 20
a + b

30

In [23]:
a + b - 5

25

In [24]:
#Here are some examples of these operators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [25]:
#The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor :

10/5

2.0

In [27]:
#Here are examples of the comparison operators in use:

a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False
True
True

In [29]:
#+ Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s+t)

print(s+t+u)

print("Hackiv8 " + "PTP")

foobar
foobarbaz
Hackiv8 PTP

In [30]:
#* Operators
s = 'foo.'
s * 4

'foo.foo.foo.foo.'

In [31]:
#in Opeators
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [34]:
#Case Conversion
s = 'HackTIV8'

#capitalize
print(s.capitalize())

#lower
print(s.lower())

#swap case
print(s.swapcase())

#title
print(s.title())

#uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [36]:
name = "ANI"
name
'ANI'
NAME = "ANITA"
print(name)

ANI

In [38]:
print(name)
print(NAME)

ANI
ANITA

In [39]:
#Operator and Expression

a = 10
b = 20
a + b # print(a+b)

30

In [42]:
# .capitalize() vs .title()
s = 'hello world'
print('Capitalized ', s.capitalize())
print('Titled ', s.title())

Capitalized  Hello world
Titled  Hello World

In [43]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [45]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'foo', 'bar', 'qux']
a == b

False

In [47]:
a = [21.4, 'adrian', 3, 4, 'bark', False, 3.14159]
print(a)

[21.4, 'adrian', 3, 4, 'bark', False, 3.14159]

In [48]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])

foo
corge

In [49]:
print(a[-1])
print(a[-6])

corge
foo

In [50]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [51]:
#The concatenation (+) and replication (*) operators:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [52]:
#len(), min(), max() berdasarkan dari urutan abjad
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [53]:
#Modifying a Single List Value
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [54]:
#A list item can be deleted with the del command
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

In [55]:
#Modifying Multiple List Values
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [56]:
#Python Tuples
#Defining and Using Tuples

t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [57]:
print(t[0])
print(t[-1])

foo
corge

In [59]:
#packing and unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

In [60]:
#Python Dictionary
#Defining a Dictionary

MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

print(MLB_team['Minnesota'])
print(MLB_team['Seattle'])

Twins
Mariners

In [61]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [62]:
#If you want to update an entry, u can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [63]:
#To delete an entry, use the del statement, specifying the key to delete:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [64]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [65]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [66]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [67]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [68]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [69]:
#Built-in Methods
d = {'a':10, 'b':20, 'c':30}

#items
print(d.items())

#keys
print(d.keys())

#values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [72]:
#Line Continuation
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [73]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True