In [2]:
x = 0
y = 5

if x<y:
    print('yes')
    
if y<x:
    print('yes')
    
if x:
    print('yes')
    
if y:
    print('yes')
    
if 'aul' in 'grault':
    print('yes')
    
if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

## Grouping Statements: Indentation and Blocks

In [3]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

## Does line execute?

In [4]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
        
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

## The Else and ELif Clauses

In [5]:
x = 20

if x < 50 :
    print('(first suite)')
    print('x is small')
else :
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [6]:
x = 120

if x < 50 :
    print('(first suite)')
    print('x is small')
else :
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [7]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('Beli Buku')
else:
    print('Uang tidak cukup')

Uang tidak cukup

In [10]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 10000

if uang > hargaBuku:
    print('Beli Buku')
elif uang > hargaMajalah:
    print('Beli Majalah')
else:
    print('Uang tidak cukup')

Beli Majalah

In [11]:
name = 'Adrian'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Adrian':
    print('Hello Adrian')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print('Who are you?')

Hello Adrian

In [12]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print('This wont happen')
elif var:
    print('This wont either')

foo

## One Line If Statements

In [13]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [14]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [15]:
x=2

if x == 1: print('foo');print('bar');print('baz');
elif x == 2: print('qux');print('quux');
else: print('corge');print('grault');

qux
quux

In [16]:
x=3

if x == 1: print('foo');print('bar');print('baz');
elif x == 2: print('qux');print('quux');
else: print('corge');print('grault');

corge
grault

In [17]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
if x == 2:
    print('qux')
    print('quux')
    print('quuxx')
if x == 3:
    print('corge')
    print('grault')

corge
grault

## Conditional Expressions (Python's Ternary Operator)

In [21]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [22]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [23]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [24]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

## The Python pass Statement

In [27]:
if True:
    pass

print('foo')

foo

## Python "While" Loops

In [28]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [31]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## The Python break and continue Statements

In [32]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [33]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

## The else Clause

In [34]:
while <expr>:
    <statement(s)>
else:
    <additional_statement(s)>

SyntaxError: invalid syntax (Temp/ipykernel_2576/114543567.py, line 1)

In [35]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [36]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n==2:
        break
else:
    print('Loop done.')

4
3
2

In [ ]:
while True:
    print('foo')

## Nested while loops

In [2]:
age = 21
gender = 'M'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

father

In [1]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

## One Line While Loops

In [3]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## The Python for Loop

In [4]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [5]:
d = {'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [6]:
for k in d:
    print(d[k])

1
2
3

In [7]:
for k in d.values():
    print(k)

1
2
3

In [8]:
for k, v in d.items():
    print(k, ':', v)

foo : 1
bar : 2
baz : 3

## Iterating Through a Dictionary

In [ ]:
d = {'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

## The range() function

In [9]:
for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

In [12]:
x = range(10)

In [13]:
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

# Altering for Loop Behavior

## The break and continue Statements

In [14]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [19]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'a' in i:
        continue
    print(i)

foo
qux

## The Else Clause

In [16]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [17]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [ ]:
temp = input('Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C:')
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print('Masukan input yang benar!')
    
print('Temperaturnya adalah', result, 'derajat')